<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href = "index" class = "mr-5 hover:text-gray-900">Landing Page</a>
        <a href = "app-index" class ="mr-5 hover:text-gray-900">Dashboard</a>
        <a href = "aboutus" class ="mr-5 hover:text-gray-900">About Us</a>
        <a href = "features" class ="mr-5 hover:text-gray-900">Features</a>
      </nav>
    </div>
</header>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Group 23 Members</h1>
      <hr>
      <div><br></br></div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Vritik Mistry</h2>
              <h3 class="text-gray-500 mb-3">Computer Science Student at CSUF</h3>
              <a href ="https://github.com/user17872" class =" text-blue-600 mr-5 hover:text-blue-900" >GitHub</a> 
            </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Sean Hatfield</h2>
            <h3 class="text-gray-500 mb-3">Computer Science Student at CSUF</h3>
            <a href ="#" class =" text-blue-600 mr-5 hover:text-blue-900" >[ Enter personal GitHub] </a> 
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Harrison Park</h2>
            <h3 class="text-gray-500 mb-3">Computer Science Student at CSUF</h3>
            <a href ="#" class = "text-blue-600 mr-5 hover:text-blue-900" >[ Enter personal GitHub] </a> 
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Arturo Salazar</h2>
            <h3 class="text-gray-500 mb-3">Computer Science Student at CSUF</h3>
            <a href ="#" class =" text-blue-600 mr-5 hover:text-blue-900">[ Enter personal GitHub] </a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div><hr></div>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900 ">Project Repository</h2>
            <a href ="https://github.com/arturosi1/cpsc349-project2" class =" text-blue-600 mr-5 hover:text-blue-900" >cpsc349-project2</a> 
          </div>
        </div>
  </div>
  <div><hr></div>
</section>


<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <p> Made with Remake and Tailwind CSS</span></p>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">CPSC 349 - Group 23</p>
    </p>
  </div>
</footer>