<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href = "index" class = "mr-5 hover:text-gray-900">Landing Page</a>
        <a href = "#" class ="mr-5 hover:text-gray-900">Dashboard</a>
        <a href = "aboutus" class ="mr-5 hover:text-gray-900">About Us</a>
        <a href = "features" class ="mr-5 hover:text-gray-900">Features</a>
      </nav>
    </div>
  </header>