<h1 class = "mt-4 ml-10 text-3xl font-bold underline text-blue-700">Welcome to the app!</h1>
<div class = "ml-12 text-emerald-500">[[ Dynamic Remake code goes here]]</div>
<br><br>
<a href="https://docs.remaketheweb.com/a-simple-example-app/"
class = "ml-10 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l rounded-r">Try a simple todo app</a>
